* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans';
}

/* Banner Styling */

.banner {
    background-image: url(../images/bannerart.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1600px;
    height: 850px;
    text-align: right;
    color: white;
}

.bannertitle {
    font-weight: 700;
    font-size: 65px;
    text-align: right;
    padding-top: 200px;
    padding-right: 160px;
}

.bannerdescription {
    font-weight: 400;
    font-size: 20px;
    text-align: right;
    line-height: 26px;
    padding-right: 160px;
    padding-top: 20px;
    padding-left: 60%;
}

.btnprimary1 {
    height: 60px;
    width: 150px;
    font-weight: 600;
    font-size: 25px;
    color: #005FAC;
    ;
    border-radius: 7px;
    border-style: none;
    margin-top: 40px;
    margin-right: 160px;
}

/* yearbook section styling */

.yearbookcontainer {
    display: flex;
    justify-content: space-around;
}

.person {
    margin-left: 255px;
    margin-top: 200px;
}

.yearbooktitle {
    font-weight: 800;
    font-size: 35px;
}

.yearboookdescription {
    margin: 285px 400px 30px 200px;

}

.yearbookpoints {
    font-weight: 400;
    font-size: 14px;
    margin-top: 35px;
    height: 2%;
}

ul {
    margin: 0;
    padding: 0;
}

/* Ways to stay motivated section styling */
.motivationcontainer {

    display: flex;
    justify-content: space-around;

}

.motivationdetails {

    font-weight: 700;
    font-size: 32px;
    margin-left: 255px;
    margin-top: 180px;
    height: 1%;
}

.motivationdescription {}

.customsectionp {
    margin-top: 150px;
    margin-right: 170px;
}

.motivepoints {
    font-weight: 400;
    font-size: 16px;
    margin-top: 45px;

}


/* My roadmap section */

.roadmaptitle {
    text-align: center;
    font-weight: 700;
    font-size: 34px;
    margin-top: 150px;
}

.roadmapcontainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: 120px;
    margin-right: 240px;
}

.skilltitle {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}

.learningskills {
    align-items: center;
    margin-top: 80px;

}

.skilldetails {
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    color: gray;
}

/* Gradient styling */

.gradientsec {
    width: 1140px;
    height: 300px;
    background-image: linear-gradient(to left, rgba(222, 229, 231, 0.52), rgb(10, 119, 207)), url(../images/watch.png);
    background-size: cover;
    margin-top: 140px;
    margin-left: 250px;
    margin-right: 255px;
    margin-bottom: 140px;
    border-radius: 10px;
}

.gradtitle {
    padding-top: 78px;
    padding-left: 50px;
    color: white;
    font-size: 34px;
    font-weight: 600;
}

.btnprimary2 {
    height: 60px;
    width: 150px;
    font-weight: 600;
    font-size: 25px;
    color: #005FAC;
    border-style: none;
    border-radius: 7px;
    margin-left: 50px;
    margin-top: 15px;
}

/* Footer section */

footer {
    background-color: #151414;
    width: 1600px;
    height: 550px;
}

.footercontainer {

    display: flex;
    justify-content: space-around;
}

.footercontact {
    text-align: left;
    color: white;
    padding-top: 130px;
}

.footertitle {
    font-weight: 700;
    font-size: 35px;
    margin-left: 200px;
}

.footerdescription {
    font-weight: 400;
    font-size: 16px;
    margin-left: 200px;
    width: 30%;
}

.emailphone {
    font-weight: 400;
    font-size: 16px;
    margin-left: 200px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    padding-left: 14px;
}

.sociallinks {
    margin-left: 190px;
    margin-top: 50px;
    gap: 50%;
}

/* Newletter section */

.newsletter {
    padding-top: 130px;
    padding-right: 280px;
}

.newslettertitle {
    font-weight: 700;
    font-size: 35px;
    color: white;
}

.textfield {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    text-align: center;
    opacity: 100;
    background-color: #151414;
    font-size: 20px;

}

.btnsub {
    margin-top: 16px;
    height: 60px;
    width: 150px;
    font-weight: 600;
    font-size: 25px;
    background-color: #005FAC;
    border-radius: 10px;
    color: white;
    border-style: none;
}